[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = ./storage/ca
certs             = $dir/certs
crl_dir           = $dir/crl
database          = $dir/index.txt
new_certs_dir     = $dir/newcerts
certificate       = $dir/ca.crt
serial            = $dir/serial
crlnumber         = $dir/crlnumber
crl               = $dir/crl.pem
private_key       = $dir/ca.key
RANDFILE          = $dir/.rand

default_days      = 365
default_crl_days  = 30
default_md        = sha256

policy            = policy_any
email_in_dn       = no
nameopt           = default_ca
certopt           = default_ca
copy_extensions   = copy

[ policy_any ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional