{% extends 'base.html' %}

{% block title %}Sign Document{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h4>Sign Documents</h4>
    </div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Upload PDF File</label>
                <input class="form-control" type="file" name="pdf_file" accept=".pdf" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Upload PFX File</label>
                <input class="form-control" type="file" name="pfx_file" accept=".pfx" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Passphrase</label>
                <input class="form-control" type="password" name="passphrase" required>
            </div>

            <button type="submit" class="btn btn-primary">Sign Document</button>
        </form>
    </div>
</div>
{% endblock %}